html, body {
  margin: 10;
  padding: 10;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1 rem;
}



a {
  color: lightgreen;
}

canvas {
  display: block;
}


#container{
  z-index: -1;
  position:fixed;
  top:0;
  left:0;
  background-color: transparent;
  
}

#img {
  margin:10pt 0;
  width: 200px;
  height: 200px;
  border: 1px solid lightgray;
  object-fit: cover;
}

button, select {
  margin: 10pt 0;
  padding:2pt;
  background-color: black;
  color:lightgray;
  border: 1px solid lightgray;
  border-radius:0px;
}

button:hover, select:hover{
  background-color: lightslategray;
}


